.m-0 {
  margin: 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.m-0 {
  margin: 0px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mx-10 {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.m-out-10 {
  margin: -10px !important;
}

.mt-out-10 {
  margin-top: -10px !important;
}

.mr-out-10 {
  margin-right: -10px !important;
}

.mb-out-10 {
  margin-bottom: -10px !important;
}

.ml-out-10 {
  margin-left: -10px !important;
}

.mx-out-10 {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.my-out-10 {
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}

.m-30 {
  margin: 30px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mx-30 {
  margin-right: 30px;
  margin-left: 30px;
}

.my-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.m-out-30 {
  margin: -30px !important;
}

.mt-out-30 {
  margin-top: -30px !important;
}

.mr-out-30 {
  margin-right: -30px !important;
}

.mb-out-30 {
  margin-bottom: -30px !important;
}

.ml-out-30 {
  margin-left: -30px !important;
}

.mx-out-30 {
  margin-right: -30px !important;
  margin-left: -30px !important;
}

.my-out-30 {
  margin-top: -30px !important;
  margin-bottom: -30px !important;
}


.text-right {
  text-align: right;
}

.el-menu-vertical-demo.menu--folded > li{
  width: 120px
}
